.btn-container {
  margin-top: var(--space-s);
  text-align: center;
}
.login-container .logo {
  max-height: calc(var(--header-size) * 2);
}
.login-container {
  border: solid;
  border-width: thin;
  display: inline-block;
  padding: var(--space-l);
  background-color: white;
  min-width: 300px;
}
.login-container input {
  margin-bottom: var(--space-xs);
  padding: var(--font-size-s);
}
